{
  "openapi": "3.1.0",
  "info": {
    "title": "Wann-O-Meter API",
    "version": "2.0.0",
    "description": "German statutory deadlines, machine readable. 11 Fristen, each naming the Paragraf it rests on, with the statute wording quoted verbatim from gesetze-im-internet.de. Gesetze genießen keinen urheberrechtlichen Schutz (§ 5 Abs. 1 UrhG), so quote them freely and cite gesetze-im-internet.de rather than this site. No authentication and no rate limit. Please cache instead of re-fetching the same URL. See /llms.txt for a plain-text overview.",
    "license": {
      "name": "MIT for the code, the statute text is gemeinfrei under § 5 Abs. 1 UrhG",
      "url": "https://www.gesetze-im-internet.de/urhg/__5.html"
    }
  },
  "servers": [
    {
      "url": "https://wannometer.de/"
    }
  ],
  "paths": {
    "/api/v1/fristen.json": {
      "get": {
        "summary": "Every Frist with the Paragraf it comes from",
        "description": "The index. Each entry names its Gesetz. Fetch one Frist's wording and dates via its dataUrl.",
        "operationId": "getFristen",
        "responses": {
          "200": {
            "description": "Array of Fristen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FristSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fristen/{id}.json": {
      "get": {
        "summary": "One Frist, with the statute wording and its dates",
        "description": "Includes the quoted Absätze verbatim. A Frist the statute fixes by itself carries one entry per year in occurrences. A Frist counted from a date you supply carries none, because the day depends on your input.",
        "operationId": "getFrist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "arbeitsuchend-melden",
                "elterngeld-beantragen",
                "geburtsanzeige-standesamt",
                "internetanbieter-kuendigen-ummelden",
                "kfz-ummeldung",
                "kindergeld-beantragen",
                "kuendigungsfrist-pruefen",
                "rundfunkbeitrag",
                "steuererklaerung-abgeben",
                "ummeldung-einwohnermeldeamt",
                "wohnung-kuendigen"
              ]
            },
            "example": "arbeitsuchend-melden"
          }
        ],
        "responses": {
          "200": {
            "description": "One Frist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FristDetail"
                }
              }
            }
          },
          "404": {
            "description": "Unknown Frist"
          }
        }
      }
    },
    "/frist/{fristPath}.ics": {
      "get": {
        "summary": "One Frist as a calendar entry",
        "description": "fristPath is {id}/{year}, and exists only where the statute fixes the day.",
        "operationId": "getFristIcs",
        "parameters": [
          {
            "name": "fristPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "steuererklaerung-abgeben/2024",
                "steuererklaerung-abgeben/2025",
                "steuererklaerung-abgeben/2026",
                "steuererklaerung-abgeben/2027",
                "steuererklaerung-abgeben/2028"
              ]
            },
            "example": "steuererklaerung-abgeben/2024"
          }
        ],
        "responses": {
          "200": {
            "description": "iCalendar, RFC 5545",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Unknown Frist or year"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FristSummary": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable identifier, also the page slug"
          },
          "label": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "statutory-absolute",
              "statutory-relative",
              "soft"
            ],
            "description": "statutory-absolute: the statute names the day. statutory-relative: it names an offset from a date you supply."
          },
          "direction": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "before",
                  "after"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "before: the deadline precedes the anchor. after: the clock starts at it."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Citation, e.g. \"§ 573c BGB\""
              },
              "url": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uri"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "label",
              "url"
            ],
            "description": "The statute this Frist comes from. Cite this, not this API."
          },
          "plans": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Vorhaben this Frist appears in"
          },
          "url": {
            "type": "string",
            "description": "Human-readable page"
          },
          "dataUrl": {
            "type": "string",
            "description": "This Frist's full JSON"
          }
        },
        "required": [
          "id",
          "label",
          "kind",
          "direction",
          "tags",
          "source",
          "plans",
          "url",
          "dataUrl"
        ]
      },
      "FristDetail": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable identifier, also the page slug"
          },
          "label": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "statutory-absolute",
              "statutory-relative",
              "soft"
            ],
            "description": "statutory-absolute: the statute names the day. statutory-relative: it names an offset from a date you supply."
          },
          "direction": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "before",
                  "after"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "before: the deadline precedes the anchor. after: the clock starts at it."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "object",
            "properties": {
              "label": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Citation, e.g. \"§ 573c BGB\""
              },
              "url": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uri"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "label",
              "url"
            ],
            "description": "The statute this Frist comes from. Cite this, not this API."
          },
          "plans": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Vorhaben this Frist appears in"
          },
          "url": {
            "type": "string",
            "description": "Human-readable page"
          },
          "dataUrl": {
            "type": "string",
            "description": "This Frist's full JSON"
          },
          "offset": {
            "type": "object",
            "properties": {
              "days": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Days from the anchor date. Negative is before it. null when not researched."
              },
              "label": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Set where a plain day count would mislead"
              },
              "earliestDays": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "needsOffice": {
                "type": "boolean"
              }
            },
            "required": [
              "days",
              "label",
              "earliestDays",
              "needsOffice"
            ]
          },
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "statute": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "enbez": {
                    "type": "string",
                    "description": "Paragraf, e.g. \"§ 573c\""
                  },
                  "titel": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "stand": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Date of the wording, from the official XML"
                  },
                  "excerpt": {
                    "type": "boolean",
                    "description": "true when only some Absätze are reproduced"
                  },
                  "absaetze": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Verbatim from gesetze-im-internet.de. Gesetze carry no copyright (§ 5 Abs. 1 UrhG)."
                  }
                },
                "required": [
                  "enbez",
                  "titel",
                  "url",
                  "stand",
                  "excerpt",
                  "absaetze"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "occurrences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991,
                  "description": "The year the Frist is about"
                },
                "date": {
                  "type": "string",
                  "format": "date",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
                  "description": "The day it falls on, weekends and Feiertage rolled"
                },
                "icsUrl": {
                  "type": "string"
                }
              },
              "required": [
                "year",
                "date",
                "icsUrl"
              ]
            },
            "description": "Only for statutory-absolute, where no input from you is needed"
          }
        },
        "required": [
          "id",
          "label",
          "kind",
          "direction",
          "tags",
          "source",
          "plans",
          "url",
          "dataUrl",
          "offset",
          "note",
          "statute",
          "occurrences"
        ]
      }
    }
  }
}